* {
    padding: 0;
    margin: 0;
}

/*formating for body*/
body {
    background-color: #080C20;
    color: white;
    font-family: 'Manrope', sans-serif;
}


body p {
 color: #777F98;   
}
/*End of formating for body*/

/*header formating*/
header {
    padding: 60px;
}

header img {
    margin-left: 80px;
}
/*end of header formatting*/

/* hero section*/
.hero-section {
    display: flex;
}

.hero-images {
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 800px;
    min-height: 400px;
}
.left-hero {
    background-image: url(../assets/illustration-hero-left.svg);

    background-position: left;

}
.right-hero {
    background-image: url(../assets/illustration-hero-right.svg);
    background-position: right;

}

.middle-hero {
    flex: 1;
    max-width: 580px;
    text-align: center;
    
}
.middle-hero h1 {
    max-width: 540px;
    font-weight: 800;
    font-size: 2.8em;
    line-height: 56px;
    margin: auto;
    padding-bottom:  25px;
}

.middle-hero p {
    padding-bottom: 100px;
}
/* end hero section*/

/* start What is given section */

.what-is-given {
    display: flex;
    justify-content: center;
}

.box-formated {
    max-width: 230px;
}