* {
    padding: 0;
    margin: 0;
}

/*formating for body*/
body {
    background-color: #080C20;
    color: white;
    font-family: 'Manrope', sans-serif;
}


body p {
 color: #777F98;   
}
/*End of formating for body*/

/*header formating*/
header {
    padding: 60px;
}

header img {
    margin-left: 80px;
}
/*end of header formatting*/

/* hero section*/
.hero-section {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.hero-images {
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 800px;
    min-height: 400px;
}
.left-hero {
    background-image: url(../assets/illustration-hero-left.svg);
    margin-left: -50px;
    background-position: left;

}
.right-hero {
    background-image: url(../assets/illustration-hero-right.svg);
    background-position: right;    
    margin-right: -60px;


}

.middle-hero {
    flex: 1;
    max-width: 580px;
    text-align: center;
    
}
.middle-hero h1 {
    max-width: 540px;
    font-weight: 800;
    font-size: 2.8em;
    line-height: 56px;
    margin: auto;
    padding-bottom:  25px;
}


/* end hero section*/

/* start What is given section */

.what-is-given {
    padding: 140px 0;
    display: flex;
    justify-content: center;
}

.box-formated {
    max-width: 230px;
}



.box-formated.movement-2 {
    margin-top: 50px;
}

.background-blue {
    background-color: #093F68;
    border-radius:  25px;
    width: 140px;
    height: 140px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-section {
    text-align: center;
    padding-bottom: 60px;
    max-width: 580px;
    margin: 0 auto;
}



