@media only screen and (max-width: 767px) {
    body {
        width: 105%;
    }

    header {
        padding: 60px 0px;
        margin: 0px auto;
    }
    .hero-section {
        flex-wrap: wrap;
        align-content: center;
    }

    .hero-images {
        min-width: 200px;
    }
    
    
    .left-hero {
        order: 1;
        margin-left: -25px;
    }
    .right-hero {
        order: 2;
        margin-right: -75px;
    }
    .middle-hero {
        order: 3;
        min-width: 180px;
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    .what-is-given {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .background-blue {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .about-services {
        flex-direction: column;
        align-items: center;
        
    }
    .service-box.right-service-box, .service-box.left-service-box {
        margin-bottom: 50px;
        max-width: 300px;
        margin-left: 10px;
        margin-right: 10px;
    }

    footer h3 {
        text-align: center;
    }

    #text_box {
        width: 100%;
        margin-bottom: 20px;
    }

    #get_notified {
        width: 100%;
        margin: 5px;
    }
}

@media only screen and (max-width: 320px) {
    .hero-images {
        min-width: 200px;
    }
    .middle-hero {
        order: 3;
        min-width: 200px;
        
    }

}