@media only screen and (max-width: 767px) {

    .hero-section {
        overflow: visible;
        flex-direction: column;
    }

    .right-hero {
        visibility: hidden;
    }

    .left-hero {
        background-image: none;
        background-position: none;
        min-height: none;
    }
    .hero-images {
        background-image: url("../assets/illustration-hero-mobile.png");
        margin-left: 0;
        margin-right: 0;
        min-width: 300px;
        max-height: 100%;
    }
    .what-is-given {
        flex-direction: column;
        justify-content: center;
        padding: 25px 0;
    }

    .box-formated {
        display: flex;
        max-width: 100%;
        flex-direction: column;
    }

    .background-blue {
        margin-right: 25px;
        min-width: 140px;
        min-height: 140px;
    }

    .movement-1 {
        margin-bottom: 0px;
    }

    .about-services {
        flex-direction: column;
        align-items: center;
        
    }
    .service-box.right-service-box, .service-box.left-service-box {
        margin-bottom: 50px;
        max-width: 420px;
        margin-left: 0px;
        margin-right: -25px;
    }


}
